-- host: db host
-- port: db port
-- user: db user
-- pass: password of db user
-- name: name of the database

local service = nstack.services[ "database" ]

service.credentials = {
    host = "0.0.0.0" ,
    port = 3306 ,
    user = "" ,
    pass = "" ,
    name = "" ,
}