-- host: db host
-- port: db port
-- user: db user
-- pass: password of db user
-- name: name of the database

nstack.services[ "database" ].credentials = {
    host = "" ,
    port = 0000 ,
    user = "" ,
    pass = "" ,
    name = "" ,
}